@import 'tailwindcss';

@layer utilities {
  .bg-graph {
    @apply bg-black;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0' y1='0' x2='0' y2='40' stroke='rgba(0,255,0,0.15)'/%3E%3Cline x1='0' y1='0' x2='40' y2='0' stroke='rgba(0,255,0,0.15)'/%3E%3C/svg%3E");
    background-repeat: repeat;
  }
}

.default-border {
  @apply border-2 border-green-500 rounded-lg;
}

.default-card {
  @apply border-2 border-green-500 rounded-lg text-white text-xl p-2 hover:font-extrabold hover:scale-105 transition-transform duration-300;
}

/*custom components*/
.custom-input-field {
  @apply text-green-300 placeholder-green-100 font-extrabold border-b-2 border-transparent focus:border-amber-200 outline-none transition-colors duration-200;
}

.info-icon {
  @apply text-amber-200 cursor-pointer;
}

.cross-icon {
  @apply text-red-300 cursor-pointer;
}

.tooltip-info {
  @apply absolute top-full right-0 mt-1 w-40 p-2 border-2 border-green-500 rounded-lg text-white bg-black text-sm z-50;
}

@keyframes bounceLetter {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-letter {
  display: inline-block;
  animation-name: bounceLetter;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
